@import './style/loginView.scss';
@import './style/menuSideBar.scss';
@import './style/content.scss';
@import './style/accountButton.scss';
@import './style/searchBox.scss';
@import './style/notificationButton.scss';
@import './style/weather.scss';
@import './style/dasboard.scss';
@import './style/boxContent.scss';
@import './style/selectCustom.scss';
@import './style/buyView.scss';
@import './style/windowPlatter.scss';
@import './style/buttonWithIcon.scss';
@import './style/modalCustom.scss';
@import './style/pagination.scss';
@import './style/lockPage.scss';
@import './style/socialView.scss';
@import './style/fullScreenModal.scss';
@import './style/voteInfomation.scss';
@import './style/postModal.scss';
@import './style/imageContainer.scss';
@import './style/audienceModal.scss';
@import './style/redirect.scss';
@import './style/notification.scss';
@import './style/customToast.scss';
@import './style/settingView.scss';
@import './style/link.scss';
@import './style/confirmModal.scss';
@import './style/tabs.scss';
@import './style/suggestedFrens.scss';
@import './style/information.scss';
@import './style/postCard.scss';
@import './style/shareModal.scss';
@import './style/collectionPage.scss';
@import './style/replyModal.scss';
@import './style/scruber.scss';
@import './style/welcomeView.scss';
@import './style/paginationTutorial.scss';
@import './style/tutorial.scss';
@import './style/skeleton.scss';
@import './style/customPicker.scss';
@import './style/exploreView.scss';
@import './style/exploreItemListing.scss';
@import './style/remixView.scss';
@import './style/reviewExploreItemModal.scss';
@import './style/exploreItem.scss';
@import './style/heartButton.scss';
@import './style/createExploreModal.scss';
@import './style/remixView.scss';
@import './style/exploreItemListing.scss';
@import './style/exploreItemDetail.scss';
@import './style/ipTreeView.scss';
@import './style//articleListingView.scss';
@import './style/articleCarousel.scss';
@import './style/articleListingBySection.scss';
@import './style/articleCard.scss';
@import './style/articleDetailView.scss';
@import './style/questsCard.scss';
@import './style/collectibleCard.scss';

body {
  color: #fff !important;
  height: 100vh;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.hidden-scroll-bar {
  &::-webkit-scrollbar {
    display: none;
  }
  /* Hide scrollbar for IE, Edge and Firefox */
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

.popup-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
}

.login-form label {
  font-weight: bold;
}

.login-form button {
  background-color: #0073e6;
  color: #ffffff;
  border: none;
  cursor: pointer;
}

.item-phrase-container {
  width: 149px;
  height: 37px;
  border-radius: 24px;
  background-color: #1a1b1f;
  margin-right: 5px;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0px 10px;
}

.item-phrase-num {
  width: 21px;
  height: 21px;
  border-radius: 11.5px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #3a3a3c;
  color: white;
  opacity: 0.6;
  font-size: 14px;
  margin-right: 5px;
}

.item-phrase-input {
  width: 100px;
  border: none;
  background: transparent;
  color: white;
  font-size: 14px;
  opacity: 0.6;
  outline: 0px;
}

.cursor-pointer {
  cursor: pointer;
}

@font-face {
  font-family: 'SF';
  src:
    local('SF-Pro'),
    url('./fonts/SF-Pro.ttf') format('truetype');
}

@font-face {
  font-family: 'Regular';
  src:
    local('SF-Pro-Rounded-Regular'),
    url('./fonts/SF-Pro-Rounded-Regular.otf') format('opentype');
}

@font-face {
  font-family: 'Bold';
  src:
    local('SF-Pro-Rounded-Bold'),
    url('./fonts/SF-Pro-Rounded-Bold.otf') format('opentype');
}

@font-face {
  font-family: 'Heavy';
  src:
    local('SF-Pro-Rounded-Heavy'),
    url('./fonts/SF-Pro-Rounded-Heavy.otf') format('opentype');
}

@font-face {
  font-family: 'Medium';
  src:
    local('SF-Pro-Rounded-Medium'),
    url('./fonts/SF-Pro-Rounded-Semibold.otf') format('opentype');
}

@font-face {
  font-family: 'Silkscreen-Bold';
  src:
    local('Silkscreen-Bold'),
    url('./fonts/Silkscreen-Bold.ttf') format('truetype');
}

@font-face {
  font-family: 'Silkscreen-Regular';
  src:
    local('Silkscreen-Regular'),
    url('./fonts/Silkscreen-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'Poppins-Regular';
  src:
    local('Poppins-Regular'),
    url('./fonts/Poppins-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'Poppins-SemiBold';
  src:
    local('Poppins-SemiBold'),
    url('./fonts/Poppins-SemiBold.ttf') format('truetype');
}

a {
  text-decoration: none !important;
}

.header-main-logo {
  font-family: 'Silkscreen-Regular';
  font-size: 21px;
}

.background-app {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  img {
    width: 100%;
    height: 100%;
    object-fit: fill;
  }
}

.animation-page {
  animation: slideAnimation ease 1s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  width: 100%;
  height: 100%;
}

@keyframes slideAnimation {
  0% {
    height: 10%;
  }
  100% {
    height: 100%;
  }
}

.fade-in {
  animation: fadeInAnimation ease 0.8s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

.fade-in-5s {
  animation: fadeInAnimation ease 5s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

.fade-out {
  animation: fadeOutAnimation ease 0.8s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

@keyframes fadeInAnimation {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fadeOutAnimation {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.hover {
  transition: 0.2s all linear;
  &:hover {
    background: rgba(0, 0, 0, 0.08) !important;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1) !important;
    color: #fff !important;
  }

  &.--hover-disable {
    background-color: rgba(255, 255, 255, 0.2) !important;
    cursor: default;
  }
}

.disable {
  background: rgba(0, 0, 0, 0.08) !important;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.3) !important;
  color: #fff !important;
  cursor: default !important;
  opacity: 0.5;
  &:hover {
    background: rgba(0, 0, 0, 0.08) !important;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.3) !important;
    color: #fff !important;
  }
}

.none-hover {
  color: #fff;
  font-size: 21px;
}

@media (min-width: 1400px) {
  .container {
    max-width: 1240px !important;
  }
}

.rotation-180 {
  transition: transform 0.2s ease-in-out;
  transform: rotate(180deg);
}

.rotation-270 {
  transition: transform 0.2s ease-in-out;
  transform: rotate(-90deg);
}

.rotation-0 {
  transition: transform 0.2s ease-in-out;
  transform: rotate(0deg);
}

p {
  word-break: break-word;
}

img {
  pointer-events: none;
}

.background-box {
  border: 1px solid;
  backdrop-filter: blur(50px);
  background: rgba(142, 136, 130, 1);
  border: 1.36px solid rgba(255, 255, 255, 0.25);
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1);
}

button {
  &:disabled {
    cursor: default !important;
    pointer-events: none;
  }
}

.truncate-1 {
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  word-break: break-word;
}

.truncate-2 {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  word-break: break-word;
}

.truncate-5 {
  display: -webkit-box;
  -webkit-line-clamp: 5;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  word-break: break-word;
}

.opacity-60 {
  opacity: 0.6;
  transition: 0.2s all linear;

  &.--hover {
    &:hover {
      opacity: 1;
    }
  }
}

.cursor-default {
  cursor: default !important;
}

.rainbow-border-button {
  background:
    linear-gradient(#1f1c35, #1f1c35) padding-box,
    linear-gradient(90deg, #57ffff 1.39%, #e777ff 33.23%, #ffd89e 66.1%, #59f3ff 100%) border-box;
  border-radius: 50em;
  border: 1px solid transparent;
  width: 100%;
  max-width: 320px;
  padding: 15px 40px;
  height: 52px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  font-size: 16px;
  animation: gradient 2s ease infinite;
  background-size: 200% 200%;

  &:hover {
    background:
      linear-gradient(#24203c, #24203c) padding-box,
      linear-gradient(90deg, #57ffff 1.39%, #e777ff 33.23%, #ffd89e 66.1%, #59f3ff 100%) border-box;
  }
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
