.custom-toast {
  .ant-message-notice-content {
    backdrop-filter: blur(50px);
    background: rgba(149, 149, 149, 0.25) !important;
    border-radius: 10px !important;
    color: #fff;
    font-family: "Bold";
    .ant-message-custom-content {
      display: flex;
      align-items: center;
      gap: 8px;
    }
  }
}
