.ipTreeViewContainer {
  display: flex;
  height: 100%;
  border-radius: 35px;
  background-color: rgba($color: white, $alpha: 0.3);
  overflow: hidden;

  .goBackButton {
    font-size: 20px;
    width: 44px;
    height: 44px;
    background-color: rgba($color: white, $alpha: 0.3);
    transition: 0.2s all linear;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
  }

  .thumbnailContainer {
    flex: 4;

    .thumbnail {
      height: 100%;
      width: 100%;
    }
  }

  .rightContainer {
    padding: 16px;
    flex: 3;
    display: flex;
    flex-direction: column;

    .headerContainer {
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin-bottom: 16px;
    }

    .treeContainer {
      flex: 1;
      display: flex;
      flex-direction: column;
      justify-content: flex-end;

      .title {
        font-size: 20px;
        font-weight: bold;
        overflow: hidden;
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-line-clamp: 1; /* number of lines to show */
        -webkit-box-orient: vertical;
        cursor: pointer;
        opacity: 0.6;
        margin: 8px 0px;
      }
    }

    .textDate {
      font-size: 14px;
      opacity: 0.6;
      flex: 1;
    }
  }
}
