.pagination-tutorial {
  top: 30px;
  color: #fff;
  z-index: 1000;
  height: 30px;
  font-family: "SF";
  .item {
    width: 8px;
    height: 8px;
    background-color: rgba($color: #fff, $alpha: 0.2);
    border-radius: 50%;
    transition: 0.2s all linear;
    text-transform: capitalize;

    &.--sellected {
      width: fit-content;
      height: fit-content;
      border-radius: 22px;
      padding: 4px 15px;
    }
  }
}
